{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "plugins": [
    "twin",
    [
      "macros",
      {
        "twin": {
          "preset": "styled-components"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
